*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #2d2e32;
  color: #fff;
  font-weight: 300;
  line-height: 1.6; }

h1 {
  color: #66bfbf;
  font-size: 5.625rem;
  font-family: mistral;
  margin: 50px auto 0px auto; }

h2 {
  color: #66bfbf;
  font-size: 2.5rem;
  font-family: corbel;
  font-weight: normal;
  padding-bottom: 10px; }

h3 {
  color: #11999e;
  font-family: corbel; }

::selection {
  background-color: #6ff6a7;
  color: #fff; }

.u-centre-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.navigation {
  position: absolute;
  top: -30%;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid #6ff6a7;
  height: 25rem;
  width: 20rem;
  border-radius: 4rem;
  transition: all 0.3s ease-in; }
  .navigation.clicked {
    top: -7%; }

.nav {
  transform: scaleY(0);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .nav_icon {
    font-size: 5rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-bottom: 2rem;
    transform: translateX(-50%);
    animation: pulsate 0.6s ease infinite;
    transition: all 0.2s ease-in-out; }
    .nav_icon:active, .nav_icon:hover {
      color: #6ff6a7; }
    .nav_icon.clicked {
      transform: translateX(-50%) rotate(180deg); }
  .nav_list {
    list-style: none; }
  .nav_link:link, .nav_link:visited {
    display: inline-block;
    color: #fff;
    text-transform: capitalize;
    font-size: 2rem;
    font-weight: 300;
    text-decoration: none; }
  .nav_link:active, .nav_link:hover {
    color: #6ff6a7; }
