@keyframes line-animation {
  to {
    stroke-dashoffset: 0; } }

@keyframes fill-animation {
  from {
    fill: transparent; }
  to {
    fill: #6ff6a7; } }

@keyframes dot-fall {
  to {
    opacity: 1;
    transform: translateY(0); } }

@keyframes bounce-in {
  0% {
    opacity: 0;
    transform: translateY(-100px); }
  70% {
    opacity: 1;
    transform: translateY(100px) skewY(15deg); }
  90% {
    opacity: 1;
    transform: translateY(-40px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes scroll {
  0% {
    opacity: 1;
    transform: translate(-50%, -10px); }
  100% {
    opacity: 0;
    transform: translate(-50%, 0); } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #101011;
  color: #fff;
  font-weight: 300;
  line-height: 1.6; }

#body-particles {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: 100; }

::selection {
  background-color: #6ff6a7;
  color: #fff; }

h1,
a,
p {
  font-family: 'Akaya Telivigala', cursive; }

h1 {
  font-size: 6rem; }

h2 {
  font-size: 3rem;
  font-family: corbel;
  font-weight: normal; }

h3 {
  font-family: corbel; }

.u-centre-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.5rem 2rem;
  display: inline-block;
  border-radius: 5rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #6ff6a7;
  color: #fff; }
  .btn--white::after {
    background-color: #fff; }

.btn--green {
  background-color: #6ff6a7;
  color: #101011; }
  .btn--green::after {
    background-color: #6ff6a7; }

.btn::after {
  content: '';
  height: 100%;
  width: 100%;
  display: inline-block;
  border-radius: 5rem;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s; }

.btn--animated {
  animation: moveInBottom 0.75s ease-out;
  animation-fill-mode: backwards; }

.header {
  position: relative;
  height: 100vh; }
  .header_img-box {
    background-color: #16161a;
    position: absolute;
    border-radius: 50%;
    width: 12rem;
    height: 12rem;
    z-index: -3;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%); }
    @media only screen and (max-width: 480px) {
      .header_img-box {
        width: 12rem;
        height: 12rem; } }
  .header_img {
    height: 100%;
    width: 100%; }
  .header_text-box {
    z-index: 1000000;
    position: absolute;
    width: 60rem;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%); }
    @media only screen and (max-width: 550px) {
      .header_text-box {
        text-align: center; } }
    @media only screen and (max-width: 480px) {
      .header_text-box {
        width: 40rem; } }
  .header_hi {
    font-size: 3.5rem;
    margin-top: 3rem;
    z-index: -2;
    color: #b4b3b4;
    animation: bounce-in 3s ease-in-out; }
    @media only screen and (max-width: 500px) {
      .header_hi {
        font-size: 4rem; } }
  .header_im {
    color: #b4b3b4; }
  .header_name {
    font-size: 4rem;
    color: #fff;
    display: inline-block;
    animation: moveInRight 3s ease-in; }
    @media only screen and (max-width: 550px) {
      .header_name {
        font-size: 5rem; } }
    @media only screen and (max-width: 500px) {
      .header_name {
        font-size: 4rem; } }
  .header_paragraph {
    font-size: 2rem;
    color: #b4b3b4; }
    @media only screen and (max-width: 480px) {
      .header_paragraph {
        margin: 3rem 0; } }
  .header_logo {
    transform: translateY(5px);
    width: 20rem; }
    .header_logo path:nth-child(1) {
      fill: #6ff6a7;
      transform: translateY(-1000px);
      animation: dot-fall 0.5s ease forwards 6s; }
    .header_logo path:nth-child(2) {
      stroke-dasharray: 137.06686401367188;
      stroke-dashoffset: 137.06686401367188;
      animation: line-animation 1s ease forwards 0.3s, fill-animation 0.3s ease forwards 5.8s; }
    .header_logo path:nth-child(3) {
      stroke-dasharray: 102.53118896484375;
      stroke-dashoffset: 102.53118896484375;
      animation: line-animation 1s ease forwards 0.6s, fill-animation 0.3s ease forwards 5.8s; }
    .header_logo path:nth-child(4) {
      stroke-dasharray: 148.0983428955078;
      stroke-dashoffset: 148.0983428955078;
      animation: line-animation 1s ease forwards 0.6s, fill-animation 0.3s ease forwards 5.8s; }
    .header_logo path:nth-child(5) {
      stroke-dasharray: 164.34896850585938;
      stroke-dashoffset: 164.34896850585938;
      animation: line-animation 1s ease forwards 1.2s, fill-animation 0.3s ease forwards 5.8s; }
    .header_logo path:nth-child(6) {
      stroke-dasharray: 137.60568237304688;
      stroke-dashoffset: 137.60568237304688;
      animation: line-animation 1s ease forwards 1.5s, fill-animation 0.3s ease forwards 5.8s; }
    .header_logo path:nth-child(7) {
      stroke-dasharray: 50.78001403808594;
      stroke-dashoffset: 50.78001403808594;
      animation: line-animation 1s ease forwards 1.8s, fill-animation 0.3s ease forwards 5.8s; }
    .header_logo path:nth-child(8) {
      stroke-dasharray: 177.83505249023438;
      stroke-dashoffset: 177.83505249023438;
      animation: line-animation 1s ease forwards 2.1s, fill-animation 0.3s ease forwards 5.8s; }
    .header_logo path:nth-child(9) {
      stroke-dasharray: 164.34902954101562;
      stroke-dashoffset: 164.34902954101562;
      animation: line-animation 1s ease forwards 2.4s, fill-animation 0.3s ease forwards 5.8s; }
    .header_logo path:nth-child(10) {
      stroke-dasharray: 205.5269317626953;
      stroke-dashoffset: 205.5269317626953;
      animation: line-animation 1s ease forwards 2.7s, fill-animation 0.3s ease forwards 5.8s; }
    .header_logo path:nth-child(11) {
      stroke-dasharray: 205.52691650390625;
      stroke-dashoffset: 205.52691650390625;
      animation: line-animation 1s ease forwards 3s, fill-animation 0.3s ease forwards 5.8s; }
    .header_logo path:nth-child(12) {
      stroke-dasharray: 177.83518981933594;
      stroke-dashoffset: 177.83518981933594;
      animation: line-animation 1s ease forwards 3.3s, fill-animation 0.3s ease forwards 5.8s; }
    .header_logo path:nth-child(13) {
      stroke-dasharray: 124.9933853149414;
      stroke-dashoffset: 124.9933853149414;
      animation: line-animation 1s ease forwards 3.6s, fill-animation 0.3s ease forwards 5.8s; }
    .header_logo path:nth-child(14) {
      stroke-dasharray: 177.8354949951172;
      stroke-dashoffset: 177.8354949951172;
      animation: line-animation 1s ease forwards 3.9s, fill-animation 0.3s ease forwards 5.8s; }
    .header_logo path:nth-child(15) {
      stroke-dasharray: 122.2800521850586;
      stroke-dashoffset: 122.2800521850586;
      animation: line-animation 1s ease forwards 4.2s, fill-animation 0.3s ease forwards 5.8s; }
    .header_logo path:nth-child(16) {
      stroke-dasharray: 148.09921264648438;
      stroke-dashoffset: 148.09921264648438;
      animation: line-animation 1s ease forwards 4.5s, fill-animation 0.3s ease forwards 5.8s; }
    .header_logo path:nth-child(17) {
      stroke-dasharray: 205.7028045654297;
      stroke-dashoffset: 205.7028045654297;
      animation: line-animation 1s ease forwards 4.8s, fill-animation 0.3s ease forwards 5.8s; }
    .header_logo path:nth-child(18) {
      stroke-dasharray: 177.83555603027344;
      stroke-dashoffset: 177.83555603027344;
      animation: line-animation 1s ease forwards 5.1s, fill-animation 0.3s ease forwards 5.8s; }
    .header_logo path:nth-child(19) {
      stroke-dasharray: 102.5514907836914;
      stroke-dashoffset: 102.5514907836914;
      animation: line-animation 1s ease forwards 5.4s, fill-animation 0.3s ease forwards 5.8s; }
  .header_scroll {
    font-size: 2rem;
    color: #b4b3b4;
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: scroll 2s linear infinite; }

.navigation {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 200;
  height: 5rem;
  width: 20rem;
  border-bottom-left-radius: 2.5rem;
  border-bottom-right-radius: 2.5rem;
  transition: all 0.3s linear;
  background-color: rgba(22, 22, 26, 0.5); }
  .navigation.clicked {
    height: 18rem; }

.nav {
  opacity: 0;
  text-align: center;
  margin-top: -2rem;
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.2s ease-in; }
  .nav.clicked {
    opacity: 1;
    visibility: visible; }
  .nav_icon {
    font-size: 3.5rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-bottom: 1rem;
    transform: translateX(-50%) rotate(0);
    animation: pulsate 0.6s ease infinite;
    transition: all 0.2s ease-in-out; }
    .nav_icon:active, .nav_icon:hover {
      color: #6ff6a7; }
    .nav_icon.clicked {
      transform: translateX(-50%) rotate(45deg); }
  .nav_list {
    list-style: none; }
  .nav_link:link, .nav_link:visited {
    display: inline-block;
    color: #fff;
    text-transform: capitalize;
    font-size: 2rem;
    font-weight: 400;
    text-decoration: none; }
  .nav_link:active, .nav_link:hover {
    color: #6ff6a7; }
