#header-particles {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-image: url('');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: 100;
}

.construction {
  position: absolute;
  padding: 1.2rem;
  font-size: 2rem;
  z-index: 20000;
  width: 60%;
  background-color: $color-grey;
  color: black;
  border-radius: 1rem;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -400%);
  transition: all 0.3s ease-in;
  &.conenter {
    transform: translate(-50%, -50%);
  }
}
.header {
  position: relative;
  height: 100vh;

  &_img-box {
    background-color: $color-primary-light;
    position: absolute;
    border-radius: 50%;
    width: 12rem;
    height: 12rem;
    z-index: -10;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    @media only screen and (max-width: 480px) {
      width: 12rem;
      height: 12rem;
    }
  }
  &_img {
    height: 100%;
    width: 100%;
  }

  &_text-box {
    z-index: 200;
    position: absolute;
    width: 60rem;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    @media only screen and (max-width: 550px) {
      text-align: center;
    }
    @media only screen and (max-width: 480px) {
      width: 40rem;
    }
  }

  &_hi {
    font-size: 3.5rem;
    margin-top: 3rem;
    color: $color-grey;
    animation: bounce-in 3s ease-in-out;
    @media only screen and (max-width: 500px) {
      font-size: 4rem;
    }
    // @media only screen and (max-width: 480px) {
    //   font-size: 2.5rem;
    // }
  }
  &_im {
    color: $color-grey;
  }
  &_name {
    font-size: 4rem;
    color: $color-white;
    display: inline-block;
    animation: moveInRight 3s ease-in;
    @media only screen and (max-width: 550px) {
      font-size: 5rem;
    }
    @media only screen and (max-width: 500px) {
      font-size: 4rem;
    }
  }
  &_paragraph {
    font-size: 2rem;
    color: $color-grey;
    @media only screen and (max-width: 480px) {
      margin: 3rem 0;
    }
  }

  &_logo {
    transform: translateY(5px);
    width: 20rem;
    // @media only screen and (max-width: 550px) {
    //   width: 20rem;
    // }
    // @media only screen and (max-width: 500px) {
    //   width: 10rem;
    // }

    & path:nth-child(1) {
      fill: $color-green;
      transform: translateY(-1000px);
      animation: dot-fall 0.5s ease forwards 6s;

      // stroke-dasharray: 178.55455017089844;
      // stroke-dashoffset: 178.55455017089844;
      // animation: line-animation 1s ease forwards, fill-animation 0.3s ease forwards 5.8s;
    }
    & path:nth-child(2) {
      stroke-dasharray: 137.06686401367188;
      stroke-dashoffset: 137.06686401367188;
      animation: line-animation 1s ease forwards 0.3s, fill-animation 0.3s ease forwards 5.8s;
    }
    & path:nth-child(3) {
      stroke-dasharray: 102.53118896484375;
      stroke-dashoffset: 102.53118896484375;
      animation: line-animation 1s ease forwards 0.6s, fill-animation 0.3s ease forwards 5.8s;
    }

    & path:nth-child(4) {
      stroke-dasharray: 148.0983428955078;
      stroke-dashoffset: 148.0983428955078;
      animation: line-animation 1s ease forwards 0.6s, fill-animation 0.3s ease forwards 5.8s;
    }
    & path:nth-child(5) {
      stroke-dasharray: 164.34896850585938;
      stroke-dashoffset: 164.34896850585938;
      animation: line-animation 1s ease forwards 1.2s, fill-animation 0.3s ease forwards 5.8s;
    }
    & path:nth-child(6) {
      stroke-dasharray: 137.60568237304688;
      stroke-dashoffset: 137.60568237304688;
      animation: line-animation 1s ease forwards 1.5s, fill-animation 0.3s ease forwards 5.8s;
    }

    & path:nth-child(7) {
      stroke-dasharray: 50.78001403808594;
      stroke-dashoffset: 50.78001403808594;
      animation: line-animation 1s ease forwards 1.8s, fill-animation 0.3s ease forwards 5.8s;
    }
    & path:nth-child(8) {
      stroke-dasharray: 177.83505249023438;
      stroke-dashoffset: 177.83505249023438;
      animation: line-animation 1s ease forwards 2.1s, fill-animation 0.3s ease forwards 5.8s;
    }
    & path:nth-child(9) {
      stroke-dasharray: 164.34902954101562;
      stroke-dashoffset: 164.34902954101562;
      animation: line-animation 1s ease forwards 2.4s, fill-animation 0.3s ease forwards 5.8s;
    }
    & path:nth-child(10) {
      stroke-dasharray: 205.5269317626953;
      stroke-dashoffset: 205.5269317626953;
      animation: line-animation 1s ease forwards 2.7s, fill-animation 0.3s ease forwards 5.8s;
    }
    & path:nth-child(11) {
      stroke-dasharray: 205.52691650390625;
      stroke-dashoffset: 205.52691650390625;
      animation: line-animation 1s ease forwards 3s, fill-animation 0.3s ease forwards 5.8s;
    }
    & path:nth-child(12) {
      stroke-dasharray: 177.83518981933594;
      stroke-dashoffset: 177.83518981933594;
      animation: line-animation 1s ease forwards 3.3s, fill-animation 0.3s ease forwards 5.8s;
    }
    & path:nth-child(13) {
      stroke-dasharray: 124.9933853149414;
      stroke-dashoffset: 124.9933853149414;
      animation: line-animation 1s ease forwards 3.6s, fill-animation 0.3s ease forwards 5.8s;
    }
    & path:nth-child(14) {
      stroke-dasharray: 177.8354949951172;
      stroke-dashoffset: 177.8354949951172;
      animation: line-animation 1s ease forwards 3.9s, fill-animation 0.3s ease forwards 5.8s;
    }
    & path:nth-child(15) {
      stroke-dasharray: 122.2800521850586;
      stroke-dashoffset: 122.2800521850586;
      animation: line-animation 1s ease forwards 4.2s, fill-animation 0.3s ease forwards 5.8s;
    }
    & path:nth-child(16) {
      stroke-dasharray: 148.09921264648438;
      stroke-dashoffset: 148.09921264648438;
      animation: line-animation 1s ease forwards 4.5s, fill-animation 0.3s ease forwards 5.8s;
    }
    & path:nth-child(17) {
      stroke-dasharray: 205.7028045654297;
      stroke-dashoffset: 205.7028045654297;
      animation: line-animation 1s ease forwards 4.8s, fill-animation 0.3s ease forwards 5.8s;
    }
    & path:nth-child(18) {
      stroke-dasharray: 177.83555603027344;
      stroke-dashoffset: 177.83555603027344;
      animation: line-animation 1s ease forwards 5.1s, fill-animation 0.3s ease forwards 5.8s;
    }
    & path:nth-child(19) {
      stroke-dasharray: 102.5514907836914;
      stroke-dashoffset: 102.5514907836914;
      animation: line-animation 1s ease forwards 5.4s, fill-animation 0.3s ease forwards 5.8s;
    }
    // & path:nth-child(20) {
    //   fill: $color-green;
    //   transform: translateY(-1000px);
    //   animation: dot-fall 0.5s ease forwards 6s;
    // }
  }

  &_scroll {
    font-size: 2rem;
    color: $color-grey;
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: scroll 2s linear infinite;
  }
}
