.navigation {
  position: fixed;
  top: -30%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  // border: 1px solid $color-green;
  height: 25rem;
  width: 15rem;
  border-radius: 4rem;
  transition: all 0.3s linear;
  background-color: $color-primary;
  &.clicked {
    top: -10%;
  }
}

.nav {
  text-align: center;
  @include absCentre;
  &_icon {
    font-size: 3.5rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-bottom: 1rem;
    transform: translateX(-50%);
    animation: pulsate 0.6s ease infinite;
    transition: all 0.2s ease-in-out;

    &:active,
    &:hover {
      color: $color-green;
    }
    &.clicked {
      transform: translateX(-50%) rotate(180deg);
    }
  }
  &_list {
    margin-top: 2rem;
    list-style: none;
  }

  &_link {
    &:link,
    &:visited {
      display: inline-block;
      color: $color-white;
      text-transform: capitalize;
      font-size: 2rem;
      font-weight: 400;
      text-decoration: none;
      //   margin-top: 1rem;
    }

    &:active,
    &:hover {
      color: $color-green;
    }
  }
}
