.navigation {
  z-index: 2000;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 5rem;
  width: 20rem;
  border-bottom-left-radius: 2.5rem;
  border-bottom-right-radius: 2.5rem;
  transition: all 0.3s linear;
  background-color: rgba($color-primary-light, 0.5);
  &.clicked {
    height: 18rem;
  }
}

.nav {
  opacity: 0;
  text-align: center;
  margin-top: -2rem;
  visibility: hidden;
  @include absCentre;
  transition: all 0.2s ease-in;

  &.clicked {
    opacity: 1;
    visibility: visible;
  }

  &_icon {
    font-size: 3.5rem;
    color: $color-green;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-bottom: 1rem;
    transform: translateX(-50%) rotate(0);
    animation: pulsate 0.6s ease infinite;
    transition: all 0.2s ease-in-out;
    &:active,
    &:hover {
      color: $color-green;
    }
    &.clicked {
      transform: translateX(-50%) rotate(45deg);
    }
  }
  &_list {
    list-style: none;
  }

  &_link {
    &:link,
    &:visited {
      display: inline-block;
      color: $color-white;
      text-transform: capitalize;
      font-size: 2rem;
      font-weight: 400;
      text-decoration: none;
    }
    &:active,
    &:hover {
      color: $color-green;
    }
  }
}

.contact {
  background-color: rgba($color-primary-light, 0.5);
  z-index: 10000000;
  color: $color-black;
  position: fixed;
  top: 2rem;
  right: 2rem;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;

  & a {
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }
  &_icon {
    font-size: 2.5rem;
    color: $color-green;
  }
}
