@keyframes line-animation {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes dot-fall {
  0% {
    opacity: 1;
    transform: translate(-50%, -400px);
  }

  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

@keyframes bounce-in {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }

  70% {
    opacity: 1;
    transform: translateY(100px) skewY(15deg);
  }
  90% {
    opacity: 1;
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translateX(3rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-3rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes scroll {
  0% {
    opacity: 1;
    transform: translate(-50%, -10px);
  }

  100% {
    opacity: 0;
    transform: translate(-50%, 0);
  }
}
