*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @media only screen and (max-width: $bp-largest) {
    font-size: 50%;
  }
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: $color-primary-dark;
  color: $color-white;
  font-weight: 300;
  line-height: 1.6;
}

#body-particles {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-image: url('');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: 100;
}

::selection {
  background-color: $color-green;
  color: $color-white;
}
