*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @media only screen and (max-width: $bp-largest) {
    font-size: 50%;
  }
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: $color-primary;
  color: $color-white;
  font-weight: 300;
  line-height: 1.6;
}

h1 {
  color: #66bfbf;
  font-size: 5.625rem;
  font-family: mistral;
  margin: 50px auto 0px auto;
}

h2 {
  color: #66bfbf;
  font-size: 2.5rem;
  font-family: corbel;
  font-weight: normal;
  padding-bottom: 10px;
}
h3 {
  color: #11999e;
  font-family: corbel;
}

::selection {
  background-color: $color-green;
  color: $color-white;
}
