// *,
// *::before,
// *::after {
//   margin: 0;
//   padding: 0;
//   box-sizing: inherit;
// }

// html {
//   box-sizing: border-box;
//   font-size: 62.5%;

//   @media only screen and (max-width: $bp-largest) {
//     font-size: 50%;
//   }
// }

// body {
//   //   font-family: $font-primary;
//   //   color: $color-grey-dark-2;
//   font-weight: 300;
//   line-height: 1.6;
// }

// ::selection {
//   //   background-color: $color-primary;
//   //   color: $color-white;
// }
body,
html {
  background-color: #000;
  color: #fff;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  // overflow: hidden;
}
canvas {
  position: absolute;
  top: 0;
  left: 0;
}
