*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @media only screen and (max-width: $bp-largest) {
    font-size: 50%;
  }
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: $color-primary-dark;
  color: $color-white;
  font-weight: 300;
  line-height: 1.6;
}

a,
p {
  font-family: 'Akaya Telivigala', cursive;
}

h1 {
  font-size: 6rem;
  font-family: mistral;
}

h2 {
  font-size: 3rem;
  font-family: corbel;
  font-weight: normal;
}
h3 {
  font-family: corbel;
}

::selection {
  background-color: $color-green;
  color: $color-white;
}
