#resume-particles {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-image: url('');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: -100;
}
.resume_section {
  position: relative;
  & h1 {
    text-align: center;
    margin-bottom: 5rem;
  }

  .resume {
    background-color: rgba($color-primary-light, 0.5);
    margin: 5rem;
    padding: 5rem;
    border-radius: 5rem;

    &_head {
      color: $color-green;
      border: none;
      border-bottom: 1px solid $color-green;
      width: 50%;
      margin: 2rem 0;
    }
    /////////////ABOUT ME
    &_aboutme-text {
      color: $color-grey;
      font-size: 1.5rem;
    }

    ///////////////WORK EXPERIENCE
    &_company {
      margin-top: 2rem;
      font-size: 2rem;
    }
    &_date {
      font-size: 2rem;
      color: $color-grey;
      text-transform: uppercase;
    }
    ul {
      list-style-type: square;
    }

    &_list {
      color: $color-grey;
      font-size: 1.5rem;
    }
    &_skills {
      font-size: 1.5rem;
      color: $color-grey;
    }
    &_school {
      font-size: 2rem;
      text-transform: uppercase;
    }
    &_year {
      font-size: 2rem;
      text-transform: uppercase;
      color: $color-grey;
    }
    &_degree {
      font-size: 1.5rem;
      color: $color-grey;
    }
  }
}
