#work-particles {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  // background-image: url('');
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-position: 50% 50%;
  z-index: -100;
}

.work_section {
  position: relative;

  & h1 {
    text-align: center;
    margin-bottom: 5rem;
  }
  .work_box {
    padding: 5rem 10rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 5rem;
  }
  .work {
    position: relative;
    padding: 4rem 2rem;
    background-color: rgba($color-primary-light, 0.5);
    border-radius: 3rem;
    overflow: hidden;
    &:hover .work_desktop {
      transform: scaleX(1);
    }
    &_name {
      text-transform: capitalize;
    }
    &_tech {
      font-size: 1.5rem;
      color: $color-green;
      margin-bottom: 1.5rem;
    }
    &_description {
      margin-bottom: 2rem;
      text-transform: capitalize;
      font-size: 1.5rem;
      color: $color-grey;
      max-width: 200px;
      word-wrap: break-word;
    }
  }

  ///VIEW
  .view {
    display: flex;
    flex-direction: column;
  }
  .view_text {
    letter-spacing: 4px;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: $color-grey;
  }
  .view_eye {
    font-size: 2rem;
    color: $color-green;
    transition: font-size 0.3s ease-in;

    &:hover {
      font-size: 2.5rem;
    }
  }

  ///WORK DESKTOP
  .work_desktop {
    transform: scaleX(0);
    position: absolute;
    width: 35%;
    height: 100%;
    right: 0;
    top: 0;
    transform-origin: right;
    transition: all 0.5s ease-in-out;
  }
  .work_desktop-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
